.locker {
    width: 40px;
    height: 74px;
    background: rgb(255, 243, 232);
    padding: 25px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(255, 128, 0);
    float: left;
    margin-left: 45px;
    margin-top: 45px;
    font-size: 45;
    text-align: center;
}
.nextLocker {
    font-size: 65px;
    margin-top: 225px;
    margin-left: 650px;
    border-radius: 6px;
    text-align: center;
    background: linear-gradient(to top, #af3600, #ff6a1b, #533434);
}
.nextLocker:hover {
    background: linear-gradient(to top, #d6d6d6, #ff570d, #cccccc);
}
.nextLocker:active {
    background: linear-gradient(to top, #ff5800, #c9c9c9, #ff5800);
}
body {
    background-image: url(../img/BodyBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}