body {
    background-image: url(../img/BodyBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px black;
}

.conteiner {
    overflow: auto;
    display: block;
    height: 600px;
    width: auto;
    border: 10px solid black;
}

.locker {
    float: left;
    width: 3.5em;
    height: 3.5em;
    margin: 1.5em;
    margin-right: 1.5em;
    border-style: solid;
    border-color: rgba(255, 29, 0, 0.58);
    border-radius: 15px;
    border-width: 5px;
    background-color: rgb(255, 238, 225);
    box-shadow: 0 0 10px #3e3e3e;
    text-align: center;
    font-size: 1.9em;
    transition: 0.3s;
}

.locker--locked {
    background-color: rgb(226, 56, 56);
    border-color: rgb(77, 69, 64);
    cursor: pointer;
    color: white;
}

.locker--locked:hover {
    transition: all;
    cursor: pointer;
    background-color: rgb(255, 180, 125);
    transition-duration: 0.3s;
    box-shadow: 0 0 1.2em #000000;
}

.locker--locked:active {
    background-color: white;
}

.nextLocker {
    border-radius: 0.2em;
    font-size: 2em;
    color: white;
    background: linear-gradient(#ff8307, #ff4e00, #ff8307);
    outline: inherit;
}

.nextLocker:hover {
    background: linear-gradient(#ff6607, #ff1d00, #ff6607);
    cursor: pointer;
}

.nextLocker:active {
   background: #ffe6c5; 
   color: #ff1d00;
}

.button--disabled {
   color: #2f2f2f;
   background: linear-gradient(#9a9a9a, #575757, #9a9a9a); 
}

.button--disabled:hover {
   background: linear-gradient(#9a9a9a, #575757, #9a9a9a);
   cursor: auto;
}

.addLocker {
    margin-top: 0.2em;
    margin-left: 0.2em;
    border-radius: 0.2em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    color: white;
    background: linear-gradient(#ff8307, #ff4e00, #ff8307);
    outline: inherit;
}

.addLocker:hover {
    background: linear-gradient(#ff6607, #ff1d00, #ff6607);
    cursor: pointer;
}

.addLocker:active {
    background: #ffe6c5; 
   color: #ff1d00;
}

.trash1 {
    margin-left: -10px;
    margin-top: -6px;
    background-image: url(../img/trash1.png);
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    height: 17px;
    width: 16px;
}

.trash2 {
    margin-top: -8px;
    margin-left: -10px;
    background-image: url(../img/trash2.png);
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    transition: 125ms;
    height: 18px;
    width: 16px;
}

.trash2:hover {
    transform-origin: 7% 100%;
    transform-origin: left;
    transform: rotate(-30deg);
    transition: 125ms;
    transition-property: all;
}

.trashBox {
    margin-top: -10;
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    height: 20px;
    width:16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.trashBox:hover {
    cursor: pointer;
}